# Output
/lib

# Visual Studio
*.suo

# Test files
/main.d
/test

# DMD output for test files
/*.map
/*.obj
/*.exe

# DMD code coverage files
*.lst

# Documentation
/docs

# Dub
/.dub
/dub.selections.json

# Scripts
/list_sources.d

# Temporary files
*.swp

